<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;800&display=swap" rel="stylesheet">
    <title>ContentFlow</title>
</head>
<body>
    <div class="LandingPage" style="width: 100%; height: 100%; position: relative; background: #FFFCF5">
        <div class="Rectangle13" style="width: 1440px; height: 984px; left: 0px; top: 1061px; position: absolute; background: linear-gradient(180deg, #CCA57A 0%, #E2C8A5 39%, rgba(255, 252, 245, 0.50) 94%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset"></div>
        <div class="ReadyToSeeYourContentTakeTheSpotlight" style="width: 959px; height: 72px; left: 119px; top: 249px; position: absolute; color: black; font-size: 40px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Ready to see your content take the spotlight?</div>
        <div class="DiveInNowAndWatchYourWorkShineLikeNeverBefore" style="width: 879px; height: 72px; left: 125px; top: 715px; position: absolute; color: black; font-size: 40px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Dive in now and watch your work shine like never before!</div>
        <div class="OptimizationYourContentWithContentFlow" style="width: 1038px; height: 217px; left: 119px; top: 347px; position: absolute; color: #DFAEA0; font-size: 90px; font-family: Montserrat; font-weight: 800; word-wrap: break-word">OPTIMIZATION YOUR CONTENT WITH CONTENT FLOW</div>
        <div class="Rectangle12" style="width: 362px; height: 93px; left: 119px; top: 865px; position: absolute; background: #B49288; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 20px"></div>
        <div class="GetToKnow" style="width: 362px; height: 93px; left: 120px; top: 885px; position: absolute; text-align: center; color: white; font-size: 40px; font-family: Montserrat; font-weight: 600;">Get to know</div>
        <div class="People" style="width: 337px; height: 622px; left: 998px; top: 387px; position: absolute">
            <div class="Vector" style="width: 54.89px; height: 48.79px; left: 57.80px; top: 128.48px; position: absolute; background: #FBD7C7"></div>
            <div class="Vector" style="width: 128.66px; height: 68.54px; left: 27.34px; top: 429.83px; position: absolute; opacity: 0.20; background: black"></div>
            <div class="Vector" style="width: 64.84px; height: 33.78px; left: 80.38px; top: 430.73px; position: absolute; background: #262626"></div>
            <div class="Vector" style="width: 59.86px; height: 27.25px; left: 83.41px; top: 431.32px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 46.47px; height: 36.72px; left: 40.23px; top: 459.31px; position: absolute; background: #262626"></div>
            <div class="Vector" style="width: 39.95px; height: 24.38px; left: 45.07px; top: 465.18px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 59.32px; height: 183.61px; left: 72.34px; top: 262.99px; position: absolute; background: #06547A"></div>
            <div class="Vector" style="width: 59.32px; height: 183.61px; left: 72.34px; top: 262.99px; position: absolute; opacity: 0.20; background: black"></div>
            <div class="Vector" style="width: 70.56px; height: 192.97px; left: 34.09px; top: 278.54px; position: absolute; background: #06547A"></div>
            <div class="Vector" style="width: 28.65px; height: 97.19px; left: 100.89px; top: 164.05px; position: absolute; background: #FBD7C7"></div>
            <div class="Vector" style="width: 100.22px; height: 141.03px; left: 29.64px; top: 144.81px; position: absolute; background: #656565"></div>
            <div class="Vector" style="width: 43.84px; height: 126.12px; left: 19.13px; top: 187.96px; position: absolute; background: #FBD7C7"></div>
            <div class="Vector" style="width: 47.76px; height: 62.71px; left: 64.55px; top: 93.63px; position: absolute; background: #FBD7C7"></div>
            <div class="Vector" style="width: 42.87px; height: 34.27px; left: 66.66px; top: 93.05px; position: absolute; background: #762C07"></div>
            <div class="Group" style="width: 103.42px; height: 362.14px; left: 62.39px; top: 238.50px; position: absolute">
                <div class="Vector" style="width: 78.67px; height: 49.80px; left: 17.33px; top: 312.34px; position: absolute; opacity: 0.20; background: black"></div>
                <div class="Vector" style="width: 35.56px; height: 31.08px; left: 54.93px; top: 326.33px; position: absolute; background: white"></div>
                <div class="Vector" style="width: 34.21px; height: 25.98px; left: 56.19px; top: 331.41px; position: absolute; background: #262626"></div>
                <div class="Vector" style="width: 39.96px; height: 177.86px; left: 22.98px; top: 148.89px; position: absolute; background: #2D3134"></div>
                <div class="Vector" style="width: 39.96px; height: 177.86px; left: 22.98px; top: 148.89px; position: absolute; opacity: 0.20; background: black"></div>
                <div class="Vector" style="width: 58.35px; height: 203.71px; left: 33.74px; top: 152.58px; position: absolute; background: #2D3134"></div>
                <div class="Vector" style="width: 37.24px; height: 83px; left: -0px; top: 69.98px; position: absolute; background: #FBD7C7"></div>
                <div class="Vector" style="width: 83.25px; height: 122.40px; left: 6.47px; top: 55.69px; position: absolute; background: #CC291F"></div>
                <div class="Vector" style="width: 69.69px; height: 76.73px; left: 20.50px; top: -0px; position: absolute; background: #825012"></div>
                <div class="Vector" style="width: 59.03px; height: 96.35px; left: 44.39px; top: 102.05px; position: absolute; background: #FBD7C7"></div>
            </div>
            <div class="Group" style="width: 140.62px; height: 373.99px; left: 151.65px; top: 111.74px; position: absolute">
                <div class="Vector" style="width: 22.94px; height: 119.36px; left: 39.36px; top: 69.42px; position: absolute; background: #FBD7C7"></div>
                <div class="Vector" style="width: 140.62px; height: 45.05px; left: -0px; top: 328.95px; position: absolute; opacity: 0.20; background: black"></div>
                <div class="Vector" style="width: 53.13px; height: 18px; left: 10px; top: 334.35px; position: absolute; background: #262626"></div>
                <div class="Vector" style="width: 53.19px; height: 19.19px; left: 9.86px; top: 329.49px; position: absolute; background: white"></div>
                <div class="Vector" style="width: 23.10px; height: 30.54px; left: 104.31px; top: 335.13px; position: absolute; background: #262626"></div>
                <div class="Vector" style="width: 21.26px; height: 26.63px; left: 105.43px; top: 335.52px; position: absolute; background: white"></div>
                <div class="Vector" style="width: 96.13px; height: 184.10px; left: 32.02px; top: 160.19px; position: absolute; background: #CC291F"></div>
                <div class="Vector" style="width: 54.93px; height: 179.72px; left: 31.80px; top: 163.30px; position: absolute; background: #CC291F"></div>
                <div class="Vector" style="width: 54.93px; height: 179.72px; left: 31.80px; top: 163.30px; position: absolute; opacity: 0.20; background: black"></div>
                <div class="Vector" style="width: 47.26px; height: 184.10px; left: 80.88px; top: 160.19px; position: absolute; background: #CC291F"></div>
                <div class="Vector" style="width: 22.88px; height: 112.92px; left: 112.97px; top: 78.96px; position: absolute; background: #FBD7C7"></div>
                <div class="Vector" style="width: 45.29px; height: 40.59px; left: 64.25px; top: 41.04px; position: absolute; background: #FBD7C7"></div>
                <div class="Vector" style="width: 87.98px; height: 129.09px; left: 48.27px; top: 52.89px; position: absolute; background: #3399CC"></div>
                <div class="Vector" style="width: 32.23px; height: 57.67px; left: 59.19px; top: 0.33px; position: absolute; background: #262626"></div>
                <div class="Vector" style="width: 37.86px; height: 45.38px; left: 66.35px; top: 10.28px; position: absolute; background: #FBD7C7"></div>
                <div class="Vector" style="width: 49.07px; height: 70.45px; left: 74.59px; top: 0px; position: absolute; background: #262626"></div>
                <div class="Vector" style="width: 67.82px; height: 15.01px; left: 49.29px; top: 97.22px; position: absolute; opacity: 0.20; background: black"></div>
            </div>
            <div class="Group" style="width: 134.91px; height: 414.81px; left: 196.32px; top: 189.15px; position: absolute">
                <div class="Vector" style="width: 11.58px; height: 24.49px; left: 18.31px; top: 186.38px; position: absolute; background: #FBD7C7"></div>
                <div class="Vector" style="width: 18.30px; height: 25.30px; left: 108.17px; top: 183.08px; position: absolute; background: #FBD7C7"></div>
                <div class="Vector" style="width: 28.86px; height: 123.74px; left: 106.05px; top: 62.76px; position: absolute; background: #06547A"></div>
                <div class="Vector" style="width: 19.39px; height: 99.13px; left: 101.29px; top: 88.61px; position: absolute; opacity: 0.20; background: black"></div>
                <div class="Vector" style="width: 113.81px; height: 40.91px; left: -0px; top: 373.91px; position: absolute; opacity: 0.30; background: #262626"></div>
                <div class="Vector" style="width: 51.39px; height: 21.19px; left: 51.59px; top: 379.40px; position: absolute; background: #262626"></div>
                <div class="Vector" style="width: 76.24px; height: 23.51px; left: 12.39px; top: 387.91px; position: absolute; background: #262626"></div>
                <div class="Vector" style="width: 74.58px; height: 17.44px; left: 12.60px; top: 394.17px; position: absolute; background: #262626"></div>
                <div class="Vector" style="width: 42.33px; height: 213.50px; left: 71.59px; top: 182.49px; position: absolute; background: #656565"></div>
                <div class="Vector" style="width: 42.33px; height: 213.50px; left: 71.59px; top: 182.49px; position: absolute; opacity: 0.20; background: black"></div>
                <div class="Vector" style="width: 64.42px; height: 219.91px; left: 27.86px; top: 186.58px; position: absolute; background: #656565"></div>
                <div class="Vector" style="width: 50.08px; height: 44.66px; left: 46.37px; top: 24.90px; position: absolute; background: #FBD7C7"></div>
                <div class="Vector" style="width: 43.21px; height: 51.70px; left: 46.39px; top: -0px; position: absolute; background: #762C07"></div>
                <div class="Vector" style="width: 114.26px; height: 145.13px; left: 11.34px; top: 57.90px; position: absolute; background: #06547A"></div>
                <div class="Vector" style="width: 28.01px; height: 80.86px; left: 28px; top: 115.43px; position: absolute; opacity: 0.20; background: black"></div>
            </div>
        </div>
        <div class="2024Group1SoftwareDevelopmentPracticumI1AirlanggaUniversity" style="width: 439px; height: 77px; left: 42px; top: 2053px; position: absolute"><span style="color: black; font-size: 24px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">©2024 Group 1 <br/></span><span style="color: black; font-size: 24px; font-family: Montserrat; font-weight: 500; word-wrap: break-word">Software Development Practicum I1<br/>Airlangga University</span></div>
        <div class="ContactUs" style="width: 140px; height: 28px; left: 1245px; top: 2048px; position: absolute; color: black; font-size: 24px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Contact us:</div>
        <div class="Benefit" style="width: 453px; height: 116px; left: 494px; top: 1202px; position: absolute; text-align: center; color: white; font-size: 96px; font-family: Montserrat; font-weight: 800; word-wrap: break-word">BENEFIT</div>
        <div class="Group3" style="width: 276.82px; height: 281.86px; left: 141.07px; top: 1407px; position: absolute">
            <div class="Ellipse7" style="width: 276.82px; height: 281.86px; left: 0px; top: 0px; position: absolute; background: #FFFCF5; border-radius: 9999px"></div>
            <div class="Analysis" style="width: 184.54px; height: 187.91px; left: 46.14px; top: 46.98px; position: absolute">
                <div class="Vector" style="width: 184.55px; height: 176.27px; left: 0px; top: 5.82px; position: absolute; background: linear-gradient(171deg, #1E8AC6 0%, #834FBC 30%, #E813B1 100%)"></div>
            </div>
        </div>
        <div class="Group4" style="width: 276.82px; height: 281.86px; left: 572.90px; top: 1407px; position: absolute">
            <div class="Ellipse8" style="width: 276.82px; height: 281.86px; left: 0px; top: 0px; position: absolute; background: #FFFCF5; border-radius: 9999px"></div>
            <div class="Analysis" style="width: 184.54px; height: 187.91px; left: 46.14px; top: 46.98px; position: absolute">
                <div class="Vector" style="width: 153.95px; height: 181.65px; left: 15.34px; top: 3.32px; position: absolute; background: linear-gradient(120deg, #1EC4FF 0%, #2DB9FF 15%, #539CFF 43%, #916EFF 81%, #B255FF 100%)"></div>
            </div>
        </div>
        <div class="Group5" style="width: 276.82px; height: 281.86px; left: 1004.74px; top: 1407px; position: absolute">
            <div class="Ellipse9" style="width: 276.82px; height: 281.86px; left: 0px; top: 0px; position: absolute; background: #FFFCF5; border-radius: 9999px"></div>
            <div class="Recommendations" style="width: 184.54px; height: 187.91px; left: 46.14px; top: 46.98px; position: absolute">
                <div class="Vector" style="width: 161.48px; height: 140.94px; left: 11.53px; top: 23.49px; position: absolute; background: linear-gradient(90deg, #000092 0%, #FF00F3 100%)"></div>
            </div>
        </div>
        <div class="Instagram" style="width: 50px; height: 50px; left: 1265px; top: 2092px; position: absolute">
            <div class="Path16" style="width: 50px; height: 50px; left: 0px; top: 0px; position: absolute; background: radial-gradient(39.38% 39.38% at 30.83% 57.51%, #FA8F21 9%, #D82D7E 78%)"></div>
            <div class="Path17" style="width: 50px; height: 50px; left: 0px; top: 0px; position: absolute; background: radial-gradient(44.75% 44.75% at 15.39% 74.79%, rgba(140, 58, 170, 0) 64%, #8C3AAA 100%)"></div>
            <div class="Path18" style="width: 37.15px; height: 37.15px; left: 6.48px; top: 6.53px; position: absolute; background: white"></div>
        </div>
        <div class="Whatsapp" style="width: 50px; height: 50px; left: 1335px; top: 2092px; position: absolute">
            <div class="Vector" style="width: 50px; height: 50px; left: 0px; top: 0px; position: absolute; background: #E0E0E0"></div>
            <div class="Vector" style="width: 47.71px; height: 47.71px; left: 1.14px; top: 0.86px; position: absolute; background: linear-gradient(0deg, #20B038 0%, #60D66A 100%)"></div>
            <div class="Vector" style="width: 24.99px; height: 23.08px; left: 12.60px; top: 13.18px; position: absolute; background: white"></div>
            <div class="Vector" style="width: 49.42px; height: 49.43px; left: 0.29px; top: 0px; position: absolute; background: white"></div>
        </div>
        <div class="Gmail" style="width: 50px; height: 50px; left: 1193px; top: 2092px; position: absolute">
            <div class="Vector" style="width: 8.68px; height: 21.17px; left: 5.96px; top: 18.10px; position: absolute; background: #4285F4"></div>
            <div class="Vector" style="width: 8.68px; height: 21.17px; left: 35.39px; top: 18.10px; position: absolute; background: #34A853"></div>
            <div class="Vector" style="width: 8.65px; height: 13.85px; left: 35.39px; top: 10.74px; position: absolute; background: #FBBC04"></div>
            <div class="Vector" style="width: 20.75px; height: 19.02px; left: 14.61px; top: 13.34px; position: absolute; background: #EA4335"></div>
            <div class="Vector" style="width: 8.65px; height: 13.83px; left: 5.96px; top: 10.73px; position: absolute; background: #C5221F"></div>
        </div>
        <div class="Frame1" style="width: 1440px; height: 136px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle11" style="width: 1440px; height: 136px; left: 0px; top: 0px; position: absolute; background: #F8EDD1"></div>
            <div class="ContentFlow" style="width: 372px; height: 41px; left: 158px; top: 49px; position: absolute; color: #DFAEA0; font-size: 40px; font-family: Inter; font-weight: 500; word-wrap: break-word">CONTENT FLOW</div>
            <img class="Logo11" style="width: 83px; height: 102px; left: 44px; top: 22px; position: absolute" src="https://via.placeholder.com/83x102" />
            <div class="Group1" style="width: 194px; height: 60px; left: 860px; top: 39px; position: absolute">
                <div class="Feature" style="width: 149px; height: 34px; left: 0px; top: 12px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 500; word-wrap: break-word">FEATURE</div>
                <div class="RiArrowDropDownLine" style="width: 60px; height: 60px; left: 134px; top: 60px; position: absolute">
                    <div class="Vector" style="width: 21.22px; height: 14.14px; left: 40.61px; top: 37.50px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; background: black"></div>
                </div>
            </div>
            <div class="Group6" style="width: 162px; left: 1234px; top: 52px; position: absolute">
                <div class="FaUser" style="width: 25px; height: 30px; left: 0px; top: 1px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div class="Vector" style="width: 25px; height: 30px; background: #89515A"></div>
                </div>
                <div class="SignIn" style="width: 120px; height: 34px; left: 42px; top: 0px; position: absolute; color: black; font-size: 30px; font-family: Inter; font-weight: 500; word-wrap: break-word">SIGN IN</div>
            </div>
            <div class="Faq" style="width: 69px; height: 34px; left: 1071px; top: 52px; position: absolute; color: black; font-size: 32px; font-family: Inter; font-weight: 500; word-wrap: break-word">FAQ</div>
            <div class="Line8" style="width: 90px; height: 0px; left: 1187px; top: 24px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 3px black solid"></div>
        </div>
        <div class="FlowbiteXSolid" style="width: 40px; height: 40px; left: 1131px; top: 2097px; position: absolute">
            <div class="Vector" style="width: 35px; height: 33.33px; left: 1.67px; top: 3.33px; position: absolute; background: black"></div>
        </div>
        <div class="DeviconLinkedin" style="width: 50px; height: 50px; left: 1059px; top: 2092px; position: absolute">
            <div class="Vector" style="width: 47.66px; height: 47.66px; left: 1.17px; top: 1.17px; position: absolute; background: #0076B2"></div>
            <div class="Vector" style="width: 34.13px; height: 34.09px; left: 7.66px; top: 7.71px; position: absolute; background: white"></div>
        </div>
        <div class="GetContentAnalysisSummary" style="width: 323px; height: 72px; left: 118px; top: 1739px; position: absolute; text-align: center; color: #825012; font-size: 40px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Get content analysis summary</div>
        <div class="TrackYourContentPerformance" style="width: 269px; height: 72px; left: 576px; top: 1739px; position: absolute; text-align: center; color: #825012; font-size: 40px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Track your content performance</div>
        <div class="GetTheBestContentRecommendations" style="width: 393px; height: 77px; left: 946px; top: 1739px; position: absolute; text-align: center; color: #825012; font-size: 40px; font-family: Montserrat; font-weight: 600; word-wrap: break-word">Get the best content recommendations</div>
    </div>
</body>
</html>